
body{
    font-family: 'Roboto', sans-serif;
    background-size:cover;
}

/*
body .login_pg .signup_pg {
    background: url("../image/coffee-book.jpg")no-repeat center center fixed;
}
*/

ul li{
    margin-left: 10px;
}

li a:hover {
    background-color: #555;
    color: white;
}

li a {
    display: block;
    color: rgba(255,255,255,.5);
    padding: 8px 16px;
}

a{
    text-decoration: none;
}

.container{
    padding-top: 80px;
    padding-bottom: 20px;
    
}

.col-lg-8{
    background-color: #587699;
    border-radius: 25px;
    
}

.btn .btn-secondary{
    background-color: #3b5c82 !important;
    float: none;
}

.btn-default:hover, .btn-default:focus{
    background-color: #1d4472 !important;
}
.col-sm-10{
    padding-bottom: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');


.main-section{
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content{
    background-color: #3b4652;
    opacity: .95;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #3b4652; 
}

.form-group{
    margin-bottom: 25px;
}
.form-group input{
    height: 42px;
    border-radius: 5px;
    border: 2px;
    font-size: 18px;
    padding-left: 10px;
}


/*
.user::before{
    font-family: 'Font Awesome\ 5\ Free';
    content:"\f007";
    position: absolute;
    font-size: 22px;
    color: #555e60;
    left:28px;
    padding-top:4px;
}
.password::before{
    font-family: 'Font Awesome\ 5\ Free';
    content:"\f023";
    position: absolute;
    font-size: 22px;
    color: #555e60;
    left:28px;
    padding-top:4px;
}
.email::before{
    content:"\f0e0";
    font-family: 'Font Awesome\ 5\ Free';
    position: absolute;
    font-size: 22px;
    color: #555e60;
    left:28px;
    padding-top:4px;
}
*/
button{
    width:100%;
    margin: 5px 0 25px;
}
 .btn-default{
    background-color: #EC943B;
    color:#fff;
    font-size: 19px;
    padding:7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid #f48041;
}
.btn-default:hover, .btn-default:focus{
    background-color: #f48041 !important;
    border-bottom: 4px solid #f46d41 !important;
}
.svg-inline--fa{
    font-size: 20px;
    margin-right:7px;
}
.forgot{
    padding: 5px 0 25px;
}
.forgot a{
    color: #f44c41;
}
a:link{
    text-decoration: none;
}

.dropdown-toggle{
    background-color: darkslategrey !important;
}
.dropdown-menu {
    background-color: darkslategrey;
}


























































